<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167400289197-5prtnbagne6mi8vu7kvp0va9lthi3h6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167400289197-5prtnbagne6mi8vu7kvp0va9lthi3h6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDckHaBKSm17uqvcdnXQlujC-nOQtshNsA</string>
	<key>GCM_SENDER_ID</key>
	<string>167400289197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stayIndekos</string>
	<key>PROJECT_ID</key>
	<string>stay-indekos</string>
	<key>STORAGE_BUCKET</key>
	<string>stay-indekos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167400289197:ios:8061437456aa28610f2724</string>
</dict>
</plist>